<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<th:block th:insert="~{navigationBar}"></th:block>
<body>
<div class="container" th:object="${project}">
    <form action="#" th:action="@{/projects/update/{id} (id=${project.id})}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="topic">Topic</label>
            <input id="topic" type="text" class="form-control" th:field="${project.topic}"/>
        </div>
        <div class="form-group">
            <label for="grade">Grade</label>
            <input id="grade" type="text" class="form-control" th:field="${project.grade}"/>
        </div>
        <label for="studentsSelect">Assigned students</label>
        <div class="form-group">
            <select id="studentsSelect" class="select" th:field="${project.students}" multiple="multiple">
                <option th:each="student : ${allStudents}"
                        th:value="${{student}}"
                        th:text="${student.toString()}"/>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a th:href="@{/projects/delete/{id}(id=${project.id})}">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>
        <a th:href="@{/projects}">
            <button type="button" class="btn btn-secondary">Back</button>
        </a>
    </form>
</div>
</div>
</body>
</html>